<div class="container-fluid">
    <body ng-app="quote" ng-controller="MainCtrl" >
      <div class="row">
        <div class="col-md-6 col-md-offset-3" id="section1">
          <form (ngSubmit)="addQuote() ;quotesForm.resetForm({})" #quotesForm="ngForm">
            <div class="h3">Add quote</div>
            <input type="text" [(ngModel)]="quoted.postedBy" class="input-group" placeholder="Your name" name="name" >
             <br>
            <input type="text" [(ngModel)]="quoted.title" class="input-group" placeholder="Quote title" id="quotetitle" name="quotetitle"><br>
            
            <input type="text" [(ngModel)]="quoted.quote" class="input-group" placeholder="Quote" id="quote" name="quote"><br>
            
            <input type="text" [(ngModel)]="quoted.author" class="input-group" placeholder="Quoteauthor" id="quoteauthor" name="quoteauthor"><br>
            
            <button type="submit" class="btn btn-sm btn-success" id="btn5">Add Quote</button>
          </form>
         
         
        </div>
    </div>
        </body>

</div>


